body {
    background: linear-gradient(135deg, #0d6efd, #00b4d8);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.card-reset {
    background: #fff;
    padding: 50px;
    border-radius: 25px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);
}

.btn-reset {
    border-radius: 50px;
    background: linear-gradient(135deg, #0d6efd, #00b4d8);
    border: none;
}